@import url("./font.css");

body {
  overflow-x: hidden;
}

body,
a {
  color: #333;
  text-decoration: none;
  font-family: 'Pretendard-Regular', sans-serif;
}

.fa-solid.fa-star::before {
  font-size: 24px;
  color: #ffea00;
}

footer {
  background-color: #777;
}

footer p {
  margin: 0;
}

section {
  min-height: 85vh;
}

/* 가이드 */
.guide {
  position: relative;
  z-index: 2;
}