.dim {
  overflow: hidden;
}


.startguide {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("/img/guide-pc.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dim-right {
  left: calc(100% + 102px);
}

.dim-right .dim-arrow {
  right: 100%;
  transform: translateY(-50%) rotate(180deg);
}

.dim-left {
  right: calc(100% + 102px);
}

.dim-left .dim-arrow {
  left: 100%;
  transform: translateY(-50%) rotate(0deg);
}

.dim-intro {
  z-index: 5;
  position: absolute;
  left: 15%;
  bottom: 10%;
  border: 2px dashed red;
  border-radius: 1rem;
  width: 400px;
  height: 300px;
}

.dim-intro-out {
  display: none;
}

@media (max-width: 950px) {
  .startguide {
    /* background-image: url("/img/guide-mobile.png"); */
  }
}

@media (max-width: 470px) {
  .startguide {
    /* background-image: url("/img/guide-mobile2.png"); */
  }
}