.wrap {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  .criteria {
    font-size: 0.9rem;
    margin: 0 0.5rem;
    padding: .10rem .30rem;
    border-radius: 15px;
    font-weight: bold;
    color: #333;
    box-shadow: 3px 3px 5px 0px #d0d0d0;
  }

  .good {
    background-color: #5190fc;
  }

  .soso {
    background-color: #56ed5e;
  }

  .bad {
    background-color: #f79036;
  }

  .verybad {
    background-color: #e67474;
  }

}

@media (max-width: 483px) {
  .wrap {
    flex-wrap: wrap;
    // min-width: 300px;

    .criteria {
      margin: 0 0.1rem;
    }
  }

}