.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .criteria {
    margin: 0 0.5rem;
    padding: .15rem .35rem;
    border-radius: 15px;
    font-weight: bold;
    color: #333;
    box-shadow: 3px 3px 5px 0px #d0d0d0;
  }

  .good {
    background-color: #5190fc;
  }

  .soso {
    background-color: #56ed5e;
  }

  .bad {
    background-color: #f79036;
  }

  .verybad {
    background-color: #e67474;
  }
}