
.OUTLINE {
  stroke-linejoin:round;
  stroke: #ffffff;
  stroke-width: 2;
  }

  #CD50 {   /* 제주 */
  transform: translateY(-100px);
  }

  .TEXT {    
  fill: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;  
  }
  .TEXT.DustValue {
    transform: translate(0px, -15px);
  }