/*  CSS 사용자 지정 속성. 요기서 물리는 제원 수정하자. */
:root {
  /* 대부분의 최신 스마트폰 뷰포트 width가 412px임. */
  --root-view-width: 412px;
  --root-width: 350px;
  --root-height: 200px;
  --root-color: #fff;;
}
title img{
  display: block;
}
.inner{
  width: var(--root-view-width);
  margin: 0 auto;
  /* 부모요소에 position: relative가 있어야 기준이 생겨서 배치가 제대로됨.  */
  position: relative;
  /* background-color: rgb(239, 186, 255); */
  /* border: #3f3f3f solid 1px; */
}
/* Header */
.title{
  display: flex;
  justify-content: center;
  /* background-color: #ff9c9c; */
  padding: 2.5px;
  margin: 5px;
  /* border-radius: 5px; */
  /* color: var(--root-color); */
  /* color: #3f3f3f; */
  /* font-size: 35px; */
}
.title img{
  width: 410px;
  border-radius: 10px;
  /* box-shadow: 3px 1px 5px 0px #d0d0d0; */
  padding-bottom: 5px;
}
.fixed-bar-top{
  position: fixed;
  top: 0px;
  z-index: 9;
  width: var(--root-view-width);
  padding: 0px 9px 5px 0px;
  background-color: #fff;
  font-size: 14.5px;
}
/* HeaderState */
.wrap-fixed{
  z-index: 8;
  position: fixed;
  top: 130px;
  /* background-color: #fff; */
  height: 30px;
  padding: 20px 20px 15px 0px;
}
.good,.soso,.bad,.very-bad{
  justify-content: center;
  padding: 2.5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #d0d0d0;
  color: var(--root-color);
  font-size: 13px;
}
.good{
  /* display: flex; */
  background-color: #5190fc;
  margin: 0 4px 0 12px;
}
.soso{
  /* display: flex; */
  background-color: #56ed5e;
  margin: 4px;
}
.bad{
  /* display: flex; */
  background-color: #f79036;
  margin: 4px;
}
.very-bad{
  /* display: flex; */
  background-color: #e67474;
  margin: 4px;
}

/* SidoDropDown */
.top-menu-bar {
  position: fixed;
  top: 81px;
  z-index: 9;
  height: 30px;
  width: 297px;
  padding: 15px 0px 5px 105px;
  margin: 10px 35px 5px 5px;
  background-color: #b9fafc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #d0d0d0;
  font-weight: 600;
  color: #3f3f3f;
}
.top-menu-bar.choice-sido{
  position: fixed;
  top: 81px;
  z-index: 9;
  height: 30px;
  width: 297px;
  padding: 2px 0px 17px 105px;
  margin: 10px 35px 5px 5px;
  background-color: #b9fafc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #d0d0d0;
  font-weight: 600;
  color: #3f3f3f;
}
.choice-num{
  position: fixed;
  top: 114px;
  z-index: 9;
  padding: 02px 0px 0px 20px;
  font-weight: 500;
  color: #3f3f3f;
}

.choice-num10,.choice-num20,.choice-num30,.choice-num40{
  /* display: flex; */
  /* justify-content: center; */
  padding: 0px 5px 0px;
  margin: 0px 5px 0px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #7cacff;
  border-radius: 5px;
}
.choice-num10:hover{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num20:hover{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num30:hover{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num40:hover{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num10:active{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num20:active{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num30:active{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}
.choice-num40:active{  
  background-color: #a3ff8c;
  color: #3f3f3f;
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
  transition: 0.25s;
}

/* BaseCard */
.basecard-inner{
  width: var(--root-view-width);
  margin: 0 auto;
  /* 부모요소에 position: relative가 있어야 기준이 생겨서 배치가 제대로됨.  */
  position: relative;
  top: 150px;
  /* background-color: rgb(239, 186, 255); */
  /* border: #3f3f3f solid 1px; */
}
.basecard-inner .cardOuter{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 0 50px 0px;
}
.cardOuter .cardContainer {
  width: calc(var(--root-width)*0.55);
  height: calc(var(--root-height)*1);
  margin: 5px;
  border-radius: 10px;
  /* border: rgb(110, 110, 110) solid 0.5px; */
  box-shadow: 5px 5px 10px .5px rgb(190, 210, 255);
}
.cardOuter .cardContainer .card-wrap-top {
  position: relative;
  display: flex;
  justify-content: center;
  height: 65px;
}
.cardOuter .cardContainer .card-wrap-top .sidoName {
  position: absolute;
  top: 13px;
  left: 10px;
  height: 20px;
  color: var(--root-color);
  font-size: 20px;
  font-weight: 550;
}
.cardOuter .cardContainer .card-wrap-top .stationName {
  position: absolute;
  top: 43px;
  left: 10px;
  height: 20px;
  color: var(--root-color);
}
.cardOuter .cardContainer .card-wrap-top .bookmark {
  position: absolute;
  top: 13px;
  right: 18px;
  color: var(--root-color);
  font-size: 22px;
  cursor: pointer;
}
.cardOuter .cardContainer .card-wrap-top .bookmark:hover {
  font-size: 24px;  
  color: #ffea00;
}
.cardOuter .cardContainer .card-wrap-top .bookmark:active {
  font-size: 24px;  
  color: #ffea00;
}
.cardOuter .cardContainer .card-wrap-top .bookmark .fa-solid.fa-star{
  font-size: 24px;  
  color: #ffea00;
}
.cardOuter .cardContainer .card-wrap-middle{
  height: 70px;
  /* border: #3f3f3f solid 1px; */
}
.cardOuter .cardContainer .card-wrap-middle .emoji {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 100;
}
.cardOuter .cardContainer .card-wrap-middle  .dustState {
  display: flex;
  justify-content: center;
  color: var(--root-color);
  font-size: 18px;
  font-weight: 550;
}
.cardOuter .cardContainer .dustValue {
  display: flex;
  justify-content: center;
  padding: 10px 0 2px;
  color: var(--root-color);
  font-size: 16px;
}
.cardOuter .cardContainer .dataTime {
  display: flex;
  justify-content: center;
  padding: 2px 0 2px;
  color: var(--root-color);
  font-size: 16px;
}

/* BottomNavigationBar */
.bottom-nav{
  position: fixed;
  bottom: 0;
  z-index: 9;
  height: 50px;
  width: var(--root-view-width);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px -3px 10px -2px #989898;
}
.bottom-nav .bottom-nav-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #3f3f3f;
  font-size: 11px;
}
.nav-item.active{
  color: rgb(87, 87, 255);  
  font-size: 12px;
  font-weight: 700;
}
.bottom-nav .bottom-nav-items .nav-items-text{
  display: flex;
  justify-content: center;
}

/* BottomNavigationBar Icons */
.bottom-nav-items .material-symbols-rounded{
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 2px;
}
/* SearchScreen */
.wrap-search-input{
  padding: 10px 5px 15px -5px;
}
.search-input{
  height: 18px;
  width: 150px;
}
.search-btn{
  /* padding: 2px; */
}
.wrap-search-btn{
  padding: 5px 5px 25px 5px;
}
/* Menu Screen */
.menu-outer {
  width: calc(var(--root-width)*0.8);
  /* max-width: 500px; */
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  top: 90px;
  right: 0px;
  background-color: #f5faff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* height: 600px; */
  border-radius: 10px;
  overflow-y: auto;
}
.menu-outer .menu-message{
  display: flex;
  align-items: center;
  /* min-height: 100px; */
  margin: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #c6e1ff;
  font-size: 12px;
}

.menu-outer .menu-title {
  height: 200px;
  background-color: #cfe2f5;
  margin: 10px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.menu-outer .menu-title .menu-title-head {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  background-color: #7cacff;
  border-radius: 5px;
}

.menu-outer .menu-title .menu-title-body {
  position: absolute;
  top: 37px;
  font-size: 16px;
  padding: 10px;
}

.menu-outer .menu-title .menu-title-body .menu-title-text {
  padding: 5px;
  color: #4b4b4b;
}
.menu-outer .menu-title .menu-title-body .menu-title-text--last {
  padding: 2px;
  color: #777777;
  font-size: 13px;
}

.menu-outer .menu-item {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #eaf2fb;
}

.menu-outer .menu-item:hover {
  background-color: #d5e9ff;
  transition: 0.3s;
}
.menu-outer .menu-item:active {
  background-color: #aad3ff;
  transition: 0.2s;
}

.menu-outer .menu-item .menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6fa2d6;
  margin-right: 10px;
}

.menu-outer .menu-item .menu-icon .material-symbols-rounded {
  font-size: 24px;
  color: #ffffff;
}

.menu-outer .menu-item .menu-text {
  font-size: 18px;
  color: #333333;
}
/* Loading */
.loading-item{
  width: var(--root-view-width);
}
.loading-item .loading-gif{
  padding: 250px 0 0 130px;
}
.loading-item .loading-text{
  padding: 50px 0 0 100px;
}